/src/webapi/ImproveIT.AngularJSCourse.Data/bin/Debug
/src/webapi/ImproveIT.AngularJSCourse.Data/obj/Debug
/src/webapi/ImproveIT.AngularJSCourse.Domain/bin/Debug
/src/webapi/ImproveIT.AngularJSCourse.Domain/obj/Debug
/src/webapi/ImproveIT.AngularJSCourse.WebAPI/bin
/src/webapi/ImproveIT.AngularJSCourse.WebAPI/obj/Debug
/src/webapi/ImproveIT.Data/bin/Debug
/src/webapi/ImproveIT.Data/obj/Debug
/src/webapi/ImproveIT.AngularJSCourse.v11.suo
/src/webapi/packages/EntityFramework.5.0.0/Content
/src/webapi/packages/EntityFramework.5.0.0/lib/net40
/src/webapi/packages/EntityFramework.5.0.0/lib/net45
/src/webapi/packages/EntityFramework.5.0.0
/src/webapi/packages/FluentNHibernate.1.4.0.0
/src/webapi/packages/Iesi.Collections.4.0.0.4000
/src/webapi/packages/jQuery.1.8.2
/src/webapi/packages/jQuery.UI.Combined.1.8.24
/src/webapi/packages/jQuery.Validation.1.10.0
/src/webapi/packages/knockoutjs.2.2.0
/src/webapi/packages/Microsoft.AspNet.Mvc.4.0.20710.0/lib/net40
/src/webapi/packages/Microsoft.AspNet.Providers.Core.1.2/lib/net40
/src/webapi/packages/Microsoft.AspNet.Providers.Core.1.2
/src/webapi/packages/Microsoft.AspNet.Providers.LocalDB.1.1/content
/src/webapi/packages/Microsoft.Data.Edm.5.2.0
/src/webapi/packages/Microsoft.Data.OData.5.2.0
/src/webapi/packages/WebGrease.1.3.0
/src/webapi/packages/System.Spatial.5.2.0/lib/sl4
/src/webapi/packages/System.Spatial.5.2.0/lib/net40
/src/webapi/packages/Newtonsoft.Json.4.5.11/lib/winrt45
/src/webapi/ImproveIT.AngularJSCourse.WebAPI/ImproveIT.AngularJSCourse.WebAPI.csproj.user
/src/webapi/packages/Microsoft.AspNet.Mvc.4.0.20710.0
/src/webapi/packages/Microsoft.AspNet.Mvc.FixedDisplayModes.1.0.0
/src/webapi/packages/Microsoft.AspNet.Providers.LocalDB.1.1
/src/webapi/packages/Microsoft.AspNet.Razor.2.0.20715.0
/src/webapi/packages/Microsoft.AspNet.Web.Optimization.1.0.0
/src/webapi/packages/Microsoft.AspNet.WebApi.4.0.20710.0
/src/webapi/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0
/src/webapi/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0
/src/webapi/packages/Microsoft.AspNet.WebApi.HelpPage.4.0.0
/src/webapi/packages/Microsoft.AspNet.WebApi.OData.4.0.0
/src/webapi/packages/Microsoft.AspNet.WebApi.Tracing.4.0.0
/src/webapi/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0
/src/webapi/packages/Microsoft.AspNet.WebPages.2.0.20710.0
/src/webapi/packages/Microsoft.Net.Http.2.0.20710.0
/src/webapi/packages/Microsoft.Web.Infrastructure.1.0.0.0
/src/webapi/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.30116.0/Content/Scripts
/src/webapi/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.30116.0
/src/webapi/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.30116.0/Content/Scripts
/src/webapi/packages/Modernizr.2.6.2/Content/Scripts
/src/webapi/packages/Modernizr.2.6.2
/src/webapi/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.30116.0
/src/webapi/packages/NDbUnit.Core.1.6.8.0
/src/webapi/packages/NDbUnit.SqlClient.1.6.8.0
/src/webapi/packages/NHibernate.4.0.1.4000/ConfigurationTemplates
/src/webapi/packages/NHibernate.4.0.1.4000
/src/webapi/packages/Newtonsoft.Json.4.5.11
/src/webapi/packages/System.Spatial.5.2.0
/src/webapi/packages/Microsoft.AspNet.Cors.5.2.2
/src/webapi/packages/Microsoft.AspNet.WebApi.5.2.2
/src/webapi/packages/Microsoft.AspNet.WebApi.Client.5.2.2
/src/webapi/packages/Microsoft.AspNet.WebApi.Core.5.2.2/Content
/src/webapi/packages/Microsoft.AspNet.WebApi.Core.5.2.2
/src/webapi/packages/Microsoft.AspNet.WebApi.Cors.5.2.2
/src/webapi/packages/Microsoft.AspNet.WebApi.HelpPage.4.0.30506
/src/webapi/packages/Microsoft.AspNet.WebApi.OData.4.0.30506
/src/webapi/packages/Microsoft.AspNet.WebApi.Tracing.4.0.30506
/src/webapi/packages/Microsoft.AspNet.WebApi.WebHost.4.0.30506.0
/src/webapi/packages/Microsoft.AspNet.WebApi.WebHost.5.2.2
/src/webapi/packages/Newtonsoft.Json.6.0.4
