.css-form input.ng-invalid.ng-dirty {
  border-color: #843534;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #CE8483;
}

.css-form input.ng-valid.ng-dirty {
  border-color: #2B542C;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 6px #67B168;
}