<div>

<form novalidate class="css-form form" role="form">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-4">
			<div align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                			
		</div>
		<div class="col-xs-12 col-sm-6 col-md-8">
			<div class="form-group">
				<label>Nombre</label>
				<input type="text" class="form-control" placeholder="Nombre">
			</div>			
			<div class="form-group">
				<label>Apellidos</label>
				<input type="text" class="form-control" placeholder="Apellidos">
			</div>			
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" placeholder="Email">
			</div>			
		  	<button type="submit" class="btn btn-success">Agregar usuario</button>  
		  	<a ui-sref="userList">Cancelar</a>
		</div>
	</div>	
</form>
</div>
